{% load static %}

<article class="article-card product-card" data-id="{{ product.id }}">

    <a href="{{ product.get_absolute_url }}" class="article-card-image-link">
        <div class="article-card-image">
            {% if product.image_url %}
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            {% else %}
            <img src="{% static 'img/placeholder.png' %}" alt="Фото відсутнє" class="product-image-placeholder">
            {% endif %}
        </div>
    </a>

    <div class="article-card-content">
        <h3 class="article-card-title">
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </h3>
        <div class="article-card-excerpt">
            {% if product.description %}
            <p>{{ product.description|truncatechars:100 }}</p>
            {% endif %}
        </div>
        <span class="article-card-price">{{ product.price }} грн</span>
        <a href="{{ product.get_absolute_url }}" class="button">Детальніше</a>
    </div>
</article>