<div class="product-detail">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><strong>{{ product.price }} грн</strong></p>
    {% if product.image_url %}
    <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-detail-image">
    {% endif %}
    <div class="feedback-form-modal-container">
        {% include 'includes/feedback_form.html' with form=feedback_form product=product %}
    </div>
    <div class="modal-buttons">
        <button class="cta-button">Замовити</button>
        <a href="{{ product.get_absolute_url }}" class="button button-details" target="_blank">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" style="margin-right: 8px;">
                <path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"/>
            </svg>
            Детальна сторінка
        </a>
        <button class="modal-close button">Закрити</button>
    </div>
</div>