{% extends 'base.html' %}

{% block title %}Головна - {{ block.super }}{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="hero-option" onclick="location.href='{% url 'airinua:catalog' %}'">
        <h2>Купити кондиціонер</h2>
        <p>Каталог з фільтрами, брендами та BTU</p>
    </div>
    <div class="hero-option" onclick="location.href='{% url 'airinua:services' %}'">
        <h2>Замовити послугу</h2>
        <p>Монтаж, демонтаж, сервісне обслуговування</p>
    </div>
</section>
{% endblock %}